

<!-- <div  class="flex items-center justify-center h-screen" >
    
    <h1>
        “If people are doubting how far you can go, go so far that you can’t hear them anymore.”
    </h1> 
</div> -->

<!--  -->
<!-- <div className="min-h-screen flex flex-row " style="display :flex">
    <div style="flex: '0 0 25%'">
      <app-studentsidebar>       
         [studentName]="studentName" 
        [studentImage]="studentImage"
        >
      </app-studentsidebar>
     
    </div>
    <div className=" " style="flex: 1">
        <app-mentors></app-mentors>
        
      </div>
    
   </div> -->
<!-- <app-studentsidebar></app-studentsidebar>
   <router-outlet></router-outlet> -->

   <div className="min-h-screen flex flex-row " style="display :flex">
    <div style="flex: '0 0 25%'">
      <app-studentsidebar>      
         [studentName]="studentName" 
        [studentImage]="studentImage"        
      </app-studentsidebar>
     
    </div>
    <div className=" " style="flex: 1">
    <router-outlet></router-outlet>       
      </div>    
   </div>