<div *ngIf="msgview"
    class="flex items-center justify-between m-20 w-1/3 p-6 border-l-8 sm:py-8 border-violet-600 bg-gray-50 text-gray-800">
    <!-- <span>Book uploaded Successfully!!</span> -->
    <span>Book for the month is Available for Reading!!</span>
</div>

<!-- <div *ngIf="modalState === 'visible'" [@modalState] class="modal">
    <div class="modal-content">
      <span>Book uploaded Successfully!!</span>
    </div>
  </div> -->

<div class="m-5" *ngIf="!msgview">
    <div class="file-upload-container m-5">
        <input type="file" name="book" id="file" class="hidden" (change)="onFileSelected($event)">
        <label for="file" class="px-8 py-3 font-semibold rounded-full bg-violet-800 text-gray-100 cursor-pointer">Select
            Book</label>
    </div>

    <div *ngIf="formVisible">
        <form [formGroup]="form" (submit)="onSubmit()">
            <div class="m-10 flex">
                <pdf-viewer [src]="pdfSrc" [render-text]="true" style="width: 500px; height : 600px"
                    [original-size]="false"></pdf-viewer>
            </div>
            <div class="mt-20 m-10 flex flex-col">
                <label for="name" class="block text-sm font-medium text-gray-600 m-3">Enter Book Title</label>
                <input formControlName="name" type="text" placeholder="Book Title" class=" p-2 border rounded">
                <label for="author" class="block text-sm font-medium text-gray-600 mt-5">Author</label>
                <input formControlName="author" type="text" class="mt-1 p-2 border rounded" placeholder="Author">
                <input formControlName="startDateis" type="text" class="mt-1 p-2 border rounded" hidden>
                <input formControlName="endDateis" type="text" class="mt-1 p-2 border rounded" hidden>

                <input formControlName="startDate" type="text" class="mt-1 p-2 border rounded" hidden>
                <input formControlName="endDate" type="text" class="mt-1 p-2 border rounded" hidden>

                <div class="activity-upload-container m-5">
                    <button type="submit"
                        class="px-8 py-3 font-semibold rounded-full bg-violet-800 text-gray-100">Upload
                        Book</button>
                </div>
            </div>
        </form>
    </div>
</div>