<p>studentchat works!</p>
<div>
    <div class=" m-5 pb-20">
        <div class="flex  h-96 border ">
            <!-- students list (left side) -->
            <div class="w-1/4 h-4/5 border-r">
                <h2 class="text-lg font-bold p-4">students</h2>
                <ul class="overflow-y-auto">
                    <li *ngFor="let student of students" class="p-4 border-b" (click)="selectStudent(student)">
                        {{ student.name }}
                        <span *ngIf="studentID === student._id" class="text-green-500 ml-2">online</span>

                    </li>
                </ul>
            </div> 
            <!-- Chat area (right side) -->
            <div class="flex-1 h-4/5">
                <div class="p-4 border-b flex items-center">
                    
                    <img *ngIf="selectedstudents?.avatar" src="{{ selectedstudents.avatar }}" alt="{{ selectedstudents.name }}"
                        class="w-8 h-8 rounded-full mr-2">
                    <h2 class="text-lg font-bold">{{ selectedstudents.name }}</h2>
                </div>         <!-- Chat messages -->
                <div class="flex flex-col space-y-2 h-full overflow-y-auto">
                    <div *ngFor="let message of chatMessages"
                        [ngClass]="{'justify-start': message.sender!==mentorID, 'justify-end': message.sender==mentorID}" class="flex">
                        <div [ngClass]="{'bg-gray-200': message.sender!==mentorID, 'bg-pink-400 text-white': message.sender==mentorID}"
                            class="rounded-lg p-2">
                            <p class="text-md">{{ message.message }}
                                <span class="text-xs" style="vertical-align: sub;">{{ message.time | date : 'shortTime' }}</span>
                            </p>
                           </div>
                    </div>
                </div>

                <!-- Message input field -->
                <div class="p-4">
                    <input type="text" placeholder="Type your message..."
                        class="w-full bg-gray-200 px-2 py-1 rounded-lg" [(ngModel)]="chatmsg">
                    <button class="bg-violet-500 text-white px-4 py-1 rounded-lg mt-2" (click)="send()">Send</button>
                </div>
            </div>
        </div>

    </div>
</div>