<div class="flex items-center bg-gray-100 text-gray-800">
    <a rel="noopener noreferrer" routerLink="book" routerLinkActive="active"
        class="px-5 py-1 border-b-2 border-gray-300">Book</a>
    <a rel="noopener noreferrer" routerLink="postactivity" routerLinkActive="active"
        class="px-5 py-1 border-b-2 border-gray-300">Post Activity</a>
    <a rel="noopener noreferrer" routerLink="activities" routerLinkActive="active"
        class="px-5 py-1 border-b-2 border-gray-300"> Activities</a>
        <a rel="noopener noreferrer" routerLink="mark" routerLinkActive="active"
        class="px-5 py-1 border-b-2 border-gray-300"> Mark</a>

    </div>
<router-outlet></router-outlet>